# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Large files
/.angular/cache/16.1.4/angular-webpack/7df77211c431c420b4f6c2a1c1c952f7f9d65e04/11.pack
/.angular/cache/16.1.4/angular-webpack/b00906a92abdd2337fde0e5b70c30b024faa4762/9.pack
/.angular/cache